body {
    margin: 0;
    font: 12pt 'Fauna One', sans;
}

.header {
    padding: 10px;
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
    color: white;
    background: cadetblue;
    box-shadow: 0 0 4px grey;
}

.fixed {
    position: fixed;
    width: 100%;
    z-index: 99;
}

.at-top {
    top: 0;
}

.update-block {
    flex-direction: row;
    margin-top:     70px;
    margin-right:   auto;
    margin-bottom:  0px;
    margin-left:    auto;
    width:          640px;
}

.reference-block {
    flex-direction: column;
    margin-top:     0px;
    margin-right:   auto;
    margin-bottom:  10px;
    margin-left:    auto;
    width:          640px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.event-container {
    width: 640px;
    margin: 0 auto; 
    padding: 5px;
    border-bottom: 1px solid #ddd;
    justify-content: center;
    display:			flex;
    justify-content:    space-between;
}

.event-type {
    margin-left: 5px;
    color: #fff;
    font-size: 10pt;
    padding: 2px 6px;
    background: cadetblue;
    border-radius: 6px;
}

.event-item {
    display: flex;
    flex-direction: column;
    align-self: center
}

.event-metadata {
    display: flex;
    font-size: smaller;
    flex-direction: row;
}



.event {
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.event small {
    color: #444;
    font-size: 10pt;
}

.event-title {
    color: #222;
    font-size: 11pt;
}

.action-type {
    margin-left: 5px;
    color: #fff;
    font-size: 10pt;
    padding: 2px 6px;
    background: cadetblue;
    border-radius: 6px;
    float: right;
}

.container {
    display:    flex;
}

.flex-column {
    flex-direction: column;
    align-self: flex-end;
}

.flex-row {
    flex-direction: row;
    align-self: flex-end;
}

.shrink {
    flex-shrink: 1;
}

.grow {
    flex-grow: 1;
}